html {
  margin: 20px;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1300&display=swap");

.container .card {
  width: 340px;
  height: 30px;
  float: left;
  padding: 0.5px;
  margin: 15px;
  transition: all 0.5s;
  background-color: #63cbdc;
}

.row {
  border: 1px solid #7a7c83;
  width: 200px;
  border-radius: 2%;
  margin-left: 35%;
  margin-right: 55%;
}

.consultar {
  height: 35px;
  width: 50px;
  margin-left: 35%;
  margin-right: 45%;
}

.regresar1 {
  height: 20px;
  width: 300px;
  margin-left: 80%;
}

.regresar2 {
  height: 25px;
  width: 350px;
  margin-right: 15%;
  margin-left: 85%;
}

.enviar {
  height: 35px;
  width: 150px;
  margin-left: 35%;
  margin-right: 45%;
}

.Logindoc {
  margin-left: 40%;
  margin-right: 40%;
  border: 2px solid #bdb9b9c5;
  border-radius: 8px;
}

.btn-primary {
  text-align: right;
  color: white;
}

h2 {
  text-align: center;
}

.contenedor2 {
  margin: auto;
  margin-left: 25%;
}

.consultar1{
  text-align: center;
}

.enviar1{
  text-align: left;
}

.form-control{
  margin-left: 15%;
  margin-right: 35%;
}

.form-group {
  margin-left: 10%;
  margin-right: 25%;
}
