<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <! -- Latest compiled and minified CSS -->
    <link rel="Stylesheet" href="css/Styles.css">
    <link rel="Stylesheet" href="css/bootstrap.min.css">
</head>

<body>
    <header>
        <div align="center"><img src="Img/+saludweb.png">
        </div>  
    </header><br><br>

<H1 align="center"> Bienvenidos a MAS-SALUD </H1>
<br><br>

<div class="container">
    <div class="card">
        <img src="img/consultar.jpg">
        <button type="button"class="btn btn-primary btn-lg btn-block">Agenda tu cita</div>
        <a href="#">
<div>

<div class="card">
    <img src="img/confirmar.png">
    <button type="button"class="btn btn-primary btn-lg btn-block">Consulta tu cita</div>
    <a href="#">
  
    <div class="card">
    <img src="img/médico.jpg">
      
    <button type="button"class="btn btn-primary btn-lg btn-block">Accede como médico</div>
    <a href="#">
</div>
</body>
</html>