<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Consultau</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="Stylesheet" href="static/css/Styles.css">
    <link rel="Stylesheet" href="static/css/bootstrap.min.css">
</head>

<body>
    <header>
        <div align="center"><img src="static/img/+saludweb.png">
        </div>  
    </header><br></br>

    <H5 align="center"> Ingresa tus datos para realizar la consulta de las citas vigentes </H5><br></br>

    <div class="form-group col-md-2" display="inline-block" text-align= "center !important" style="float: left;
    margin-left: 300px;
    margin-right: 50px">
    <label for="inputState">Tipo de documento:</label>
    <br></br>

    <select id="inputState" class="form-control" Style="border: 1px solid #7a7c83; padding: 7px">
        <option selected>Cédula de ciudadanía</option>
        <option selected>Tarjeta de identidad</option>
        <option selected>Registro civil</option>                 
        <option selected>Pasaporte</option>
    </select>
    </div><br></br>

    <div class="row"> 
    <input type="value" maxlength="10" class="form-control" placeholder="numero"></div>
    <br><br><br> 

    <div class="consultar">
    <button type="submit" class="btn btn-primary">Consultar</button></div>
    <br></br>  

    <div class="regresar">
        <a class="btn btn-primary" href="http://127.0.0.1:5500/1Index.html" role="button">Regresar al inicio</a>
    </div>
   