{%extends 'base.html'%}
{%include 'header.html'%}

{%block title%} CONSULTORIO EN LINEA{%endblock%}

{%block body%}   

   
<div class="container">
    <h1>Seleccione la fecha de su cita</h1>
    
    <input id="datepicker">  

</div>


<script type="text/javascript">
var disabledDate = ['12/25/2021', '12/08/2021'];
$("#datepicker").datepicker({
    format: 'mm/dd/yyyy',       
    datesDisabled: disabledDate,
    daysOfWeekDisabled: [0,6],   //desahabilita domingos y sabados
    autoclose:true,
    todayHighlight: true,
})
</script>

{%endblock%}   