{%extends 'base.html'%}
{%include 'header.html'%}

{%block title%} CONSULTORIO EN LINEA{%endblock%}

{%block body%}   
<br></br>

    <H5 align="center"> Ingresa tus datos para realizar la consulta de las citas vigentes </H5><br></br>

    <div class="form-group col-md-2" display="inline-block" text-align= "center !important" style="float: left;
    margin-left: 300px;
    margin-right: 50px">
    <label for="inputState">Tipo de documento:</label>
    <br></br>

    <select id="inputState" class="form-control" Style="border: 1px solid #7a7c83; padding: 7px">
        <option selected>Cédula de ciudadanía</option>
        <option value>Tarjeta de identidad</option>
        <option value>Registro civil</option>                 
        <option value>Pasaporte</option>
    </select>
    </div><br></br>
    <form action="/pacientes_citas" method="POST">
    <div class="row"> 
    <input type="value" name="busca_documento" maxlength="10" class="form-control" placeholder="numero"></div>
    
    <br><br><br> 

    <div class="consultar">
    <button type="submit" class="btn btn-primary">Consultar</button></div>
    <br></br>  
      
    <div class="regresar">
        <a class="btn btn-primary" href="home" role="button">Regresar al inicio</a>
    </div>
</form>  

{%endblock%}      