{%extends 'base.html'%}
{%include 'header.html'%}

{%block title%} CONSULTORIO EN LINEA{%endblock%}

{%block body%}  
<form action=" " method="POST">
<br>
<br>

<div class="contenedor2">
 
    
    <br>
    <div class="card text-center">
        <div class="card-header">
            <p class="font-weight-bold">REGISTRO DE PACIENTES</p>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            Dando cumplimiento a lo ​dispuesto en la Ley estatutaria 1581 de 2012 y a su Decreto Reglamentario 1377 de 2013, Mas Salud adopta la presente política para el tratamiento de datos personales, la cual será informada a todos los titulares de los datos recolectados o que en el futuro se obtengan en el ejercicio de las actividades propias de nuestros procesos médicos asistenciales. 
            De esta manera, Mas Salud manifiesta que garantiza los derechos de la privacidad, la intimidad, el buen nombre, en el tratamiento de los datos personales, y en consecuencia todas sus actuaciones se regirán por los principios de legalidad, finalidad, libertad, veracidad o calidad, transparencia, acceso y circulación restringida, seguridad y confidencialidad. 
            Todas las personas que, en desarrollo de diferentes actividades médicos asistenciales, sean permanentes u ocasionales, llegaran a suministrar a Mas Salud cualquier tipo de información o dato personal, podrá conocerla, actualizarla y rectificarla.
            Autorizo a Mas Salud, para que recolecte mis datos personales y los conserve dentro de sus bases, cuyo uso se encuentra destinado a mantener una constante comunicación con los interesados.
            Autorizo para que los datos por mi suministrados sean utilizados con la finalidad de informarme sobre sus actividades y procesos médicos asistenciales.

          </h5>
         
         
        </div>
        <div class="card-footer text-muted">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
            Acepto
            </label>
        </div>
      </div>
    
    
    
    
   

    Tipo de documento<span class="req">*</span>    
    <select id="inputState" name="tipodoc_formulario" display="inline-block">
    <option value=1 selected>CC-Cédula de ciudadanía</option>
    <option value=2 >CE-Cédula de extranjería</option>
    <option value=3 >PEP-Permiso especial de permanencia</option>
    <option value=4>TI-Tarjeta de identidad</option>
    <option value=5>RC-Registro civil de nacimiento</option>                 
    <option value=6>PSP-Pasaporte</option></select>    <th>    </th> 
    Número<span class="req">*</span>
    <input type="value"  name="numero_documento_formulario" maxlength="10" size="15">

    <br><br>  <br> 
<div class="center">    
    Nombres<span class="req">*</span>
    <input type="text" name="nombres_seleccionado_formulario" required  maxlength="50" size="50" autocomplete="off"/>
    <label> <class="field-wrap"></label> <th> </th>
    <br><br>
    Apellidos<span class="req">*</span>
    <input type="text" name ="apellidos_seleccionado_formulario" required maxlength="50" size="50" autocomplete="off"/>
    <label> <class="field-wrap"></label> 
    <br>
    <br>  
    Fecha de nacimiento<span class="req">*</span>
    <input type="date" name="fecha_nacimiento_seleccionado_formulario" id="fecha" >
    <label for="fecha"></label>
    <br>
    <br>

    Número celular<span class="req">*</span>
    <input type="tel" name="celular_seleccionado_formulario" id="telefono" 
    maxlength="10" size="15"/><label for="telefono" class="propiedad"></label><th>      </th>
    Número fijo <span class="req">*</span>
    <input type="tel" id="telefono" name="telefono_seleccionado_formulario" maxlength="10" size="15"/>
    <label for="telefono" class="propiedad"></label>
    <br>
    <br>
    Correo electrónico <span class="req">*</span>
    <input type="email" id="email" name="correo_electronico_seleccionado_formulario" maxlength="50" size="50" placeholder="(email)"/>
    <label for="email" class="propiedad"></label>
</div>
    <br>
    
    <div class="enviar1"><br>    
    <button type="submit" class="btn btn-primary">Registrase</button>
    </div>
    
    <div class="regresar1">
    <a class="btn btn-primary" href="/" role="button">Regresar al inicio</a>
    </div>

</div>
<br></br>   

</form>



{%endblock%}    
