{%extends 'base.html'%}
{%include 'header.html'%}
{% block title %} CREACION DE CITAS{%endblock%}
{% block body %}
<form action="/crea_cita" method="POST">
<p class="text-center">
<h2>AGENDAMIENTO DE CITAS</h2></p>
    Doctor <SELECT name="doctor_seleccionado_formulario">
        {% for c in muestra_doctores %}
            <OPTION value={{c.id}}>{{c.nombre_completo}}</option>
        {% endfor %}
        </SELECT>

<br/>
<br/>
<p class="left">
Fecha de la cita <input id="datepicker" name="fecha_formulario">  

<script type="text/javascript">
    var disabledDate = ['12/25/2021', '12/08/2021'];
    $("#datepicker").datepicker({
    format: 'mm/dd/yyyy',       
    datesDisabled: disabledDate,
    daysOfWeekDisabled: [0,6],   //desahabilita domingos y sabados
    autoclose:true,
    todayHighlight: true,
    })
    </script>

<br/>
<br/>

Horario <SELECT name="franja_seleccionada_formulario">
    {% for c in muestra_franjas %}
        <OPTION value={{c.id_franja}}>{{c.hora_inicio}}</option>
    {% endfor %}
    </SELECT>
<br/>
<br/>
<p class="left">       
Tipo de documento:
    <div class="form-group col-md-4">
          <select id="inputState" class="form-control">
          <option selected>Cédula de ciudadanía</option>
          <option>Tarjeta de identidad</option>
          <option>Registro civil</option>
          <option>Pasaporte</option>
          </select>
    </div>
    <input type="value" name="numero_documento_formulario" maxlength="10" ></div>
    <br><br><br> 

<p class="left">     
<button type="submit" class="btn btn-primary mb-2">Agendar Cita</button> 
</p>



</form>
{% endblock %}  