{%extends 'base.html'%}
{%include 'header.html'%}
{% block title %} CREACION DE CITAS{%endblock%}
{% block body %}
<form action="/crea_cita" method="POST">
<div class="card text-center">
    <div class="card-header">
        <p class="font-weight-bold">AGENDAMIENTO DE CITAS</p>
    </div>
    <div class="card-body">
      <h5 class="card-title">Para agendar una cita en nuestro sistema usted debe estar registrado</h5>
     
      <a class="btn btn-primary" href="/crea_pacientes">Registrarse</a>
      <a class="btn btn-primary" href="/">Regresar</a>
    </div>
    <div class="card-footer text-muted">
      
    </div>
  </div>


<br>
<br>
Doctor <SELECT name="doctor_seleccionado_formulario">
        {% for c in muestra_doctores %}
            <OPTION value={{c.id}}>{{c.nombre_completo}}</option>
        {% endfor %}
        </SELECT>

<br/>
<br/>
<p class="left">
Fecha de la cita <input id="datepicker" name="fecha_formulario" value={{ date }}>  

<script type="text/javascript">
    var disabledDate = {{ disabledDate|safe }};
    $("#datepicker").datepicker({
    format: 'mm/dd/yyyy',       
    datesDisabled: disabledDate,
    daysOfWeekDisabled: [0,6],   //desahabilita domingos y sabados
    autoclose:true,
    todayHighlight: true,
    })
    //AQUI
    </script>

<br/>
<br/>

Horario <SELECT name="franja_seleccionada_formulario">
    {% for c in muestra_franjas %}
        <OPTION value={{c.id_franja}}>{{c.hora_inicio}}</option>
    {% endfor %}
    </SELECT>
<br/>
<br/>
Tipo de documento<span class="req">*</span>    
    <select id="inputState" name="tipodoc_formulario" display="inline-block">
    <option value=1 selected>CC-Cédula de ciudadanía</option>
    <option value=2 >CE-Cédula de extranjería</option>
    <option value=3 >PEP-Permiso especial de permanencia</option>
    <option value=4>TI-Tarjeta de identidad</option>
    <option value=5>RC-Registro civil de nacimiento</option>                 
    <option value=6>PSP-Pasaporte</option></select>    <th>    </th> 
    Número<span class="req">*</span>
    <input type="value"  name="numero_documento_formulario" maxlength="10" size="15">







<!-- <p class="left">       
Tipo de documento:
    <div class="form-group col-md-4">
          <select id="inputState" class="form-control">
          <option selected>Cédula de ciudadanía</option>
          <option>Tarjeta de identidad</option>
          <option>Registro civil</option>
          <option>Pasaporte</option>
          </select>
    </div>
    <input type="value" name="numero_documento_formulario" maxlength="10" ></div>
    <br><br><br>  -->

<p class="left">     
<button type="submit" class="btn btn-primary mb-2">Agendar Cita</button> 
</p>



</form>
{% endblock %}  