{%extends 'base.html'%}
{%include 'header.html'%}

{%block title%} CONSULTORIO EN LINEA{%endblock%}

{%block body%}  

<br></br>
<H1 align="center"> Bienvenidos a MAS-SALUD </H1>
<br></br>

<div class="container">
    <div class="card">
        <img src="/static/img/registrar.jpg">
        <button type="button" style="background-color: #1BA0D0;" class="btn btn-primary btn-lg btn-block">Agenda tu cita
        <a href="{{ url_for('get_crea_cita') }}" class="btn btn-primary"></a></div>
    

    <div class="card">
        <img src="/static/img/confirmar.png">
        <button type="button" style="background-color: #1BA0D0;" class="btn btn-primary btn-lg btn-block">Consulta tu cita</div>
        <a href=''> 
  
    <div class="card">
        <img src="/static/img/medico.jpg">
        <button type="button" style="background-color: #1BA0D0;" class="btn btn-primary btn-lg btn-block">Accede como profesional</div>
        <a href=''>
</div>


{%endblock%} 