{%extends 'base.html'%}
{%include 'header.html'%}

{%block title%} CONSULTORIO EN LINEA{%endblock%}

{%block body%}  

<br></br>
<H1 align="center"> Bienvenidos a MAS-SALUD </H1>
<br></br>

<div class="container">
    <div class="card">
        <img src="/static/img/registrar.jpg">
        <a href="{{ url_for('get_crea_cita') }}" ><button type="button" style="width: 100%;" class="btn btn-primary btn-lg">Agenda tu cita</button></a>
    </div>
    

    <div class="card">
        <img src="/static/img/confirmar.png">
        <a href="{{ url_for('get_pacientes') }}"><button type="button" style="width: 100%;" class="btn btn-primary btn-lg">Consulta tu cita</button></a>
    </div>
    

    <div class="card">
        <img src="/static/img/medico.jpg">
        <a href=''><button type="button" style="width: 100%;" class="btn btn-primary btn-lg">Accede como profesional</button></a>
    </div>
</div>

{%endblock%} 