{%extends 'base.html'%}
{%include 'header.html'%}

{%block title%} CONSULTORIO EN LINEA{%endblock%}

{%block body%} BIENVENIDO A MAS SALUD LOGIN DOCTORES 

<br><br>
<div class="container">
    <form method="POST">
        <label for="corrdoct">Correo institucional:</label>
        <input type="text" id="correodoct" name="correodoct"><br><br>
        <label for="clavedoctor">Contraseña:</label>
        <input type="password" id="clavedoct" name="clavedoct"><br><br>
        <!-- type="password" name="password2" class="form-control password2" value="clave" placeholder="" /> -->


        <label for="fecha">Fecha de Consulta Agenda:</label>
        <input id="datepicker" name="fecha"  value={{ date }}>  
        <script type="text/javascript">
          
          $("#datepicker").datepicker({
          format: 'mm/dd/yyyy',       
          datesDisabled:['12/25/2021', '12/08/2021'] ,
          daysOfWeekDisabled: [0,6],   //desahabilita domingos y sabados
          autoclose:true,
          startDate: new Date(),
          todayHighlight: true,
          });
        </script>
      <br><br>
        
        <button type="submit" class="btn btn-primary">Ingresar</button>
    </form>
      
      <p>Al dar clic, se dirigirá a la pantalla de consulta agenda doctores</p> 

</div>

{%endblock%}    