{%extends 'base.html'%}
{%include 'header.html'%}
{% block title %}Paciente no registrado{%endblock%}
{% block body %}
<br>
<br>
<div class="card text-center">
    <div class="card-header">
        <p class="font-weight-bold">PACIENTE NO REGISTRADO</p>
    </div>
    <div class="card-body">
      <h5 class="card-title">El paciente con documento de identificación {{}} no se encuentra registrado</h5>
     
      <a class="btn btn-primary" href="/">Regresar</a>
      <a class="btn btn-primary" href="/">Registrarse</a>  
    </div>
    <div class="card-footer text-muted">
     
    </div>
  </div>